.slideSection {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideGrid {
    display: grid;
    > .slide {
        grid-area: 1 / -1;
    }

    > button {
        background: transparent;
        color: white;
        position: absolute;
        outline: none;
        border: none;
        opacity: 0.7;

        height: 100%;
        width: 100%;
        font-size: 5rem;
        &:last-child {
            right: -100%;
        }
        &:first-child {
            left: -100%;
          }
        &:hover{
            opacity: 1;
        }
        transform-style: preserve-3d;
        transform: translateZ(10rem);
    }
    
    perspective: 800px;
    transform-style: preserve-3d;
    transition: transform 0.5s linear

}

.slide {
    width: 20vw;
    height: 30vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;

    transform-style: preserve-3d;
    transform: 
        translateX(calc(100%*var(--offset)))
        rotateY(calc(-25deg*var(--dir)));
    transition: transform 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    justify-content: flex-end;

    

}

.sContent {
    transform-style: preserve-3d;
    transform: translateZ(3rem);
    transition: opacity 0.3s linear;
    opacity: 0;
    user-select: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slide[data-active] {
    opacity: 1;
    z-index: 2;
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    
    .sContent {
        opacity: 1;
    }

    &:hover{
        transition-duration: 0.2s;
        transition-timing-function: ease;

        transform:
            rotateY(calc(var(--x) * 45deg))
            rotateX(calc(var(--y) * (-45deg)))
        ;
        

        
                   
    }

    
}

