* {
    box-sizing: border-box;
    position: relative;
}

.slideSection {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideGrid {
    display: grid;
    > .slide {
        grid-area: 1 / -1;
    }
    
    perspective: 800px;
    transform-style: preserve-3d;

}

.slide {
    flex-direction: column;
    width: 20vw;
    height: 30vw;
    border: 1px dotted white;
    background-size: cover;
    background-position: center center;



    transform: 
        translateX(calc(100%*var(--offset)))
        rotateY(calc(-25deg*var(--dir)));
    transition: transform 0.5s ease-in-out;

}
.slide[data-active] {
    border-color: red;
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    
    &:hover{
        transition-duration: 0.05s;
        transform:
            rotateY(calc(var(--x) * 45deg))
            rotateX(calc(var(--y) * (-45deg)))
        ;
                   
    }

    
}