.slideSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideGrid {
    display: grid;
    > .slide {
        grid-area: 1 / -1;
    }
}

.slide {
    width: 30vw;
    height: 40vw;
    border: 1px dotted white;
    background-size: cover;
    background-position: center center;

    transform: 
        translateX(calc(100%*var(--offset)));

}
.slide[data-active] {
    border-color: red;
}