div {
    display: flex;
}


.headerStatic {
    transition: all 1s;
    align-items: stretch;
    background-color: #1a1a1a;
}

 /* HEADER ANIMATIONS */
    .header-enter-active {
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
    }
    .header-enter-done {
        flex-direction: row;
        justify-content: flex-start;
        height: 10vh;
    }
    .header-exit-active {
        flex-direction: row;
        justify-content: flex-start;
        height: 10vh;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    .header-exit-done {
        flex-direction: row;
        justify-content: flex-start;
        height: 10vh;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    } 

/* LOADER ANIMATIONS */
    .loader-enter-active {
        height: 50vh;
        justify-content: center;
        align-items: flex-start;
    }
    .loader-enter-done {
        height: 0;
        transition: all 1s;
    }

.navItem {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    img {
        max-height: 10vh;
    }
}
.selectedNavItem {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}
