@import '../shared.scss';


.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:95%;
    height: auto;
    overflow-y: scroll;
    background-color:transparent;
    color: $blight;
}
.waitContainer {
    background-color:transparent;
    color: $blight;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:95%;
    height: auto;
}

.vspace {
    height: 10%;
}
.wait {
    font-size: 2rem;
    color: $blight;
}
.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;    
    align-items: center;
    color: $blight;
    width: 100%;
    height: 100%;
    z-index: 0;

    > img {
        height:100vh;
    }


}


.title {
    position: absolute;
    left: 41%;
    top: 77%;
    margin: 1%;
    font-family: "spartanMb";
    font-size: 7vh;
    font-weight: bold;
    z-index: 1;
    text-shadow: -5px 5px 0px rgba(26, 26, 26, 0.8)
}
.subtitle {
    position: absolute;
    left: 41%;
    top: 72%;
    margin: 1%;
    font-family: "spartanMb";
    font-size: 3vh;
    background: linear-gradient(180deg,rgba(56, 72, 180, 0) 50%, rgba(26, 26, 26, 0.8) 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    z-index: 1;
}
a {
    color: inherit;
    text-decoration: inherit;
}

@media (max-width: 1000px) {
    .subtitle {
        left: 5%;
    }
    .title {
        left: 5%;
    }
}