@import '../shared.scss';


a {
    color: inherit;
    text-decoration: inherit;
}

.arrowBounce{
    animation-name: arrowBounce;
    animation-timing-function: ease-in-out;
}
@keyframes arrowBounce {
    0%   { bottom: 1rem; }
    50%  { bottom: 3rem; }
    100% { bottom: 1rem; }
}

.promptArrow {
    position: fixed;
    font-size: 10rem;
    opacity: 0.7;
    bottom: 1rem;
    left: 52.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: translateX(-50%);
    z-index: 5;

}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:95%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:transparent;
    color: $blight;
}
.waitContainer {
    background-color:transparent;
    color: $blight;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:95%;
    height: auto;
}

.vspace {
    height: 10%;
}
.wait {
    font-size: 2rem;
    color: $blight;
}
.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;    
    align-items: center;
    color: $blight;
    width: 100%;
    height: 100%;
    z-index: 0;

    > img {
        height:100vh;
    }
    > span {
        user-select: none;
        position: absolute;
        z-index: 1;
        margin: 1%;
        font-family: "spartanMb";
    }


}


.title {
    left: 41%;
    top: 77%;

    cursor: pointer;

    font-size: 7vh;
    font-weight: bold;

    text-shadow: -5px 5px 0px rgba(26, 26, 26, 0.8)
}
.subtitle {
    left: 41%;
    top: 72%;

    font-size: 3vh;

    background: linear-gradient(180deg,rgba(56, 72, 180, 0) 50%, rgba(26, 26, 26, 0.8) 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
}


@media (max-width: 1000px) {
    .subtitle {
        left: 5%;
    }
    .title {
        left: 5%;
    }
}