.App {
  text-align: center;
  background-color: #1d1d1d;
  height: 100vh;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Logo-initial-spin 1.5s;
  }
}

.App-header {
  height: 10vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-content {
  color: #e2e2e2;
}

@keyframes Logo-initial-spin {
  0% {
    transform: rotate(180deg) translateY(120px);
    animation-timing-function: ease-in;
  }
  20% {
    transform: rotate(180deg) translateY(30px);
    animation-timing-function: linear;
  }
  60% {
    transform: rotate(180deg) translateY(30px);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-out;
  }
}
