@import './shared.scss';

@font-face {
  font-family: "spartanMb";
  src: url(spartan-mb.bold.woff2);
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}


body {
  background-color: $bdark;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
